@media (max-width: 640px) {
  .back {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5) 0% 10%,
        rgba(43, 54, 34, 0)
      ),
      url("../image/mobile_header.jpg");
    background-size: cover;
  }
}

@media (min-width: 640px) {
  .back {
    position: relative;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0.1)
    );

    background-size: 100% 100%;
  }
}
